.row{
    display: block;
    float: left;
    margin-left: 130px;
}
.card{
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
h1{
    font-family: 'Cinzel', serif;
    text-align: center;
    padding-top: 10px;
}

